# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
*		text=auto

#
# Exceptions to the rule above
#
# These files are text and should be normalized (Convert crlf => lf)
*.adoc			text
*.application	text
*.conf			text
*.cs			text
*.css			text
*.csv			text
*.df			text
*.dtd			text
*.except		text
*.htm			text
*.html			text
*.ini			text
*.java			text
*.js			text
*.json			text
*.jsp			text
*.jspf			text
*.manifest		text
*.md			text
*.MF			text
*.mustache		text
*.ncx			text
*.nvdl			text
*.opf			text
*.paramGroup	text
*.pef			text
*.project		text
*.properties	text
*.res			text
*.rng			text
*.sch			text
*.SchemaFactory	text
*.smil			text
*.sql			text
*.svg			text
*.tab			text
*.taskScript	text
*.textile		text
*.tdf			text
*.template		text
*.tex			text
*.tld			text
*.tsv			text
*.txt			text
*.xml			text
*.xsl			text
*.xslt			text
/.dir-locals.el						text
test/org_pef_dtbook2pef/version		text
test/org_pef_dtbook2pef/version2	text
test/org_pef_dtbook2pef/version3	text

# These files should always have Windows line endings
*.bat			eol=crlf

# These files should always have Linux line endings
*.pl			eol=lf
*.py			eol=lf
*.sh			eol=lf
*.tcl			eol=lf
debian/control	eol=lf
transformers/uk_rnib_odf2dtbook/odf2daisy	eol=lf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class			binary
*.db			binary
*.dll			binary
*.docx			binary
*.dot			binary
*.ear			binary
*.epub			binary
*.exe			binary
*.gif			binary
*.ico			binary
*.jar			binary
*.jpg			binary
*.jpeg			binary
*.mp3			binary
*.odt			binary
*.pdb			binary
*.png			binary
*.pyd			binary
*.rtf			binary
*.so			binary
*.tree			binary
*.war			binary
*.wav			binary
*.zip			binary