* text=auto !eol
META-INF/MANIFEST.MF -text
doc/dev/diagram.png -text
doc/examples/input/RTF2dtbook.rtf -text svneol=unset#application/octet-stream
doc/examples/input/simple.odt -text
doc/examples/input/valentin.jpg -text
doc/scripts/int_daisy_filesetRenamer.html -text
lib/batik-css.jar -text
lib/batik-parser.jar -text
lib/batik-util.jar -text
lib/chardet.jar -text
lib/icu4j_3_4_4.jar -text
lib/jing.jar -text
lib/jl1.0.jar -text
lib/jsr173_1.0_api.jar -text
lib/jsr173_1.0_ri.jar -text
lib/sac.jar -text
lib/saxon.jar -text
lib/saxon8-dom.jar -text
lib/saxon8.jar -text
lib/tagsoup-1.0rc4.jar -text
lib/wstx-lgpl-2.0.6.jar -text
lib/xercesImpl.jar -text
scripts/_dev/filesetRenamer.xml -text
src/org/daisy/dmfc/core/listener/MessageListener.java -text
src/org/daisy/dmfc/core/listener/ScriptProgressListener.java -text
src/org/daisy/dmfc/core/listener/TransformerProgressListener.java -text
src/org/daisy/dmfc/core/listener/package.html -text
src/org/daisy/dmfc/core/message/CoreMessage.java -text
src/org/daisy/dmfc/core/message/Message.java -text
src/org/daisy/dmfc/core/message/TransformerMessage.java -text
src/org/daisy/dmfc/core/message/property/Cause.java -text
src/org/daisy/dmfc/core/message/property/Type.java -text
src/org/daisy/dmfc/core/script/AbstractProperty.java -text
src/org/daisy/dmfc/core/script/Creator.java -text
src/org/daisy/dmfc/core/script/Parser.java -text
src/org/daisy/dmfc/core/script/Runner.java -text
src/org/daisy/dmfc/core/script/Script.java -text
src/org/daisy/dmfc/core/script/ScriptParameter.java -text
src/org/daisy/dmfc/core/script/ScriptProperty.java -text
src/org/daisy/dmfc/core/script/ScriptRunner.java -text
src/org/daisy/dmfc/core/script/ScriptValidationException.java -text
src/org/daisy/dmfc/core/script/StringProperty.java -text
src/org/daisy/dmfc/core/script/TaskParameter.java -text
src/org/daisy/dmfc/core/script/datatype/BooleanDatatype.java -text
src/org/daisy/dmfc/core/script/datatype/Datatype.java -text
src/org/daisy/dmfc/core/script/datatype/DatatypeException.java -text
src/org/daisy/dmfc/core/script/datatype/EnumDatatype.java -text
src/org/daisy/dmfc/core/script/datatype/EnumItem.java -text
src/org/daisy/dmfc/core/script/datatype/FileDatatype.java -text
src/org/daisy/dmfc/core/script/datatype/IntegerDatatype.java -text
src/org/daisy/dmfc/core/script/datatype/StringDatatype.java -text
src/org/daisy/dmfc/core/script/script-1.0.rng -text
src/org/daisy/dmfc/core/script/script-2.0.rng -text
src/org/daisy/dmfc/core/script/script10to20.xsl -text
src/org/daisy/dmfc/core/transformer/transformer-2.0.rng -text
src/org/daisy/dmfc/core/transformer/transformer.rng -text svneol=unset#application/octet-stream
src/org/daisy/util/fileset/util/FilesetLabelProvider.java -text
src/org/daisy/util/fileset/util/FilesetSpineProvider.java -text
src/org/daisy/util/xml/catalog/svg/svg11-flat.dtd -text svneol=unset#application/octet-stream
src/org/daisy/util/xml/validation/SimpleValidator.java -text
transformers/int_daisy_filesetRenamer/transformer.tdf -text
transformers/int_daisy_validator/XMLReporter.java -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_1.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_10.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_2.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_3.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_4.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_5.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_6.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_7.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_8.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/cd_9.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_1.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_10.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_2.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_3.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_4.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_5.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_6.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_7.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_8.mp3 -text
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/skiva_9.mp3 -text
transformers/se_tpb_filesetcreator/resource/tpbnarrator_res.mp3 -text
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/Interop.SpeechLib.dll -text
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/SimpleCommandLineTTS.application -text svneol=unset#application/octet-stream
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/SimpleCommandLineTTS.exe -text
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/SimpleCommandLineTTS.exe.manifest -text svneol=unset#application/octet-stream
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/SimpleCommandLineTTS.pdb -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p1.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p10.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p11.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p12.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p2.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p3.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p4.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p5.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p6.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p7.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p8.png -text
transformers/se_tpb_wordml2dtbook/docs/tagset/docs_p9.png -text
