* text=auto !eol
doc/diagram.png -text
lib/batik-css.jar -text
lib/batik-parser.jar -text
lib/batik-util.jar -text
lib/jing.jar -text
lib/jl1.0.jar -text
lib/jsr173_1.0_api.jar -text
lib/jsr173_1.0_ri.jar -text
lib/sac.jar -text
lib/saxon.jar -text
lib/saxon8.jar -text
lib/wstx-lgpl-2.0.3.jar -text
resources/transformer.rng -text svneol=unset#application/octet-stream
