/.settings
/bin
/dist
doc/api
samples/output
transformers/*.class
transformers/ca_cnib_rtf2dtbook/*.class
transformers/ca_cnib_rtf2dtbook/rtf2xml-py/*.class
transformers/ca_cnib_rtf2dtbook/rtf2xml-py/rtf2xml/*.class
transformers/ca_cnib_rtf2dtbook/rtf2xml-py/rtf2xml/*.pyc
transformers/ca_cnib_rtf2dtbook/rtf2xml-win/*.class
transformers/dk_dbb_dtbook2rtf/*.class
transformers/fr_braillenet_dtbook2daisy3/*.class
transformers/int_daisy_dtbMigrator/*.class
transformers/int_daisy_dtbMigrator/impl/*.class
transformers/int_daisy_dtbMigrator/impl/d202_z2005/*.class
transformers/int_daisy_dtbMigrator/impl/d202_z2005/xslt/*.class
transformers/int_daisy_dtbMigrator/impl/z2005_d202/*.class
transformers/int_daisy_dtbMigrator/impl/z2005_d202/read/*.class
transformers/int_daisy_dtbMigrator/impl/z2005_d202/write/*.class
transformers/int_daisy_filesetAudioTagger/*.class
transformers/int_daisy_filesetAudioTagger/id3/*.class
transformers/int_daisy_filesetAudioTagger/playlist/*.class
transformers/int_daisy_filesetEncryptor/*.class
transformers/int_daisy_filesetGenerator/*.class
transformers/int_daisy_filesetGenerator/impl/*.class
transformers/int_daisy_filesetGenerator/impl/d202/*.class
transformers/int_daisy_filesetGenerator/util/*.class
transformers/int_daisy_filesetGenerator/util/d202/*.class
transformers/int_daisy_filesetRenamer/*.class
transformers/int_daisy_filesetRenamer/segment/*.class
transformers/int_daisy_filesetRenamer/strategies/*.class
transformers/int_daisy_html2xhtml/*.class
transformers/int_daisy_mathAltCreator/*.class
transformers/int_daisy_mathAltCreator/com/dessci/mathflow/*.class
transformers/int_daisy_metadataEditor/*.class
transformers/int_daisy_metadataEditor/xslt/*.class
transformers/int_daisy_mixedContentNormalizer/*.class
transformers/int_daisy_mixedContentNormalizer/dom/*.class
transformers/int_daisy_ocfCreator/*.class
transformers/int_daisy_opsCreator/*.class
transformers/int_daisy_prettyPrinter/*.class
transformers/int_daisy_recorder2dtb/*.class
transformers/int_daisy_recorder2dtb/read/*.class
transformers/int_daisy_recorder2dtb/read/audacity/*.class
transformers/int_daisy_unicodeNormalizer/*.class
transformers/int_daisy_unicodeTranscoder/*.class
transformers/int_daisy_validator/*.class
transformers/int_daisy_xukCreator/*.class
transformers/int_daisy_xukCreator/impl/*.class
transformers/int_vspiewak_odt2daisy/*.class
transformers/int_vspiewak_odt2daisy/lib/*.class
transformers/no_hks_xhtml2dtbook/*.class
transformers/org_pef_dist/*.class
transformers/org_pef_dist/lib/*.class
transformers/org_pef_dtbook2pef/*.class
transformers/org_pef_dtbook2pef/apidoc
transformers/org_pef_dtbook2pef/system/*.class
transformers/org_pef_pefFileMerger/*.class
transformers/org_pef_pefFileSplitter/*.class
transformers/org_pef_text/*.class
transformers/org_pef_text/pef2text/*.class
transformers/org_pef_text/text2pef/*.class
transformers/pipeline_system_copyer/*.class
transformers/pipeline_system_deleter/*.class
transformers/se_tpb_aligner/*.class
transformers/se_tpb_aligner/align/*.class
transformers/se_tpb_aligner/align/impl/*.class
transformers/se_tpb_aligner/subtree/*.class
transformers/se_tpb_aligner/subtree/impl/*.class
transformers/se_tpb_aligner/textpre/*.class
transformers/se_tpb_aligner/textpre/impl/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/Output/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/Pack/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/SSML/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/DB/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/Lists/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/Rules/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/Subs/*.class
transformers/se_tpb_aligner/textpre/impl/Preproc/lang/eng/Vars/*.class
transformers/se_tpb_aligner/util/*.class
transformers/se_tpb_annonsator/*.class
transformers/se_tpb_annonsator/type/*.class
transformers/se_tpb_charsetSwitcher/*.class
transformers/se_tpb_daisy202splitter/*.class
transformers/se_tpb_daisy202splitter/promptFiles/*.class
transformers/se_tpb_daisy202splitter/promptFiles/en/*.class
transformers/se_tpb_daisy202splitter/promptFiles/sv/*.class
transformers/se_tpb_dtbAudioEncoder/*.class
transformers/se_tpb_dtbSplitterMerger/*.class
transformers/se_tpb_dtbSplitterMerger/merge/*.class
transformers/se_tpb_dtbSplitterMerger/split/*.class
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/*.class
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/en/*.class
transformers/se_tpb_dtbSplitterMerger/split/promptFiles/sv/*.class
transformers/se_tpb_dtbook2latex/*.class
transformers/se_tpb_dtbookFix/*.class
transformers/se_tpb_dtbookFix/xslt/*.class
transformers/se_tpb_filesetcreator/*.class
transformers/se_tpb_filesetcreator/config/*.class
transformers/se_tpb_filesetcreator/resource/*.class
transformers/se_tpb_filesetcreator/templates/*.class
transformers/se_tpb_hyphenator/*.class
transformers/se_tpb_hyphenator/lib/*.class
transformers/se_tpb_hyphenator/rules/*.class
transformers/se_tpb_imageConverter/*.class
transformers/se_tpb_nccNcxOnly/*.class
transformers/se_tpb_skippabilityTweaker/*.class
transformers/se_tpb_speechgen2/*.class
transformers/se_tpb_speechgen2/audio/*.class
transformers/se_tpb_speechgen2/charsubst/*.class
transformers/se_tpb_speechgen2/conf/*.class
transformers/se_tpb_speechgen2/external/*.class
transformers/se_tpb_speechgen2/external/MacOS/*.class
transformers/se_tpb_speechgen2/external/SimpleCommandLineTTS/*.class
transformers/se_tpb_speechgen2/external/dummy/*.class
transformers/se_tpb_speechgen2/external/linux/*.class
transformers/se_tpb_speechgen2/external/win/*.class
transformers/se_tpb_speechgen2/external/win/sapi5/*.class
transformers/se_tpb_speechgen2/external/win/sapi5/events/*.class
transformers/se_tpb_speechgen2/lib/*.class
transformers/se_tpb_speechgen2/regex/*.class
transformers/se_tpb_speechgen2/tts/*.class
transformers/se_tpb_speechgen2/tts/adapters/*.class
transformers/se_tpb_speechgen2/tts/concurrent/*.class
transformers/se_tpb_speechgen2/tts/util/*.class
transformers/se_tpb_speechgen2/xslt/*.class
transformers/se_tpb_speechgenerator/*.class
transformers/se_tpb_speechgenerator/config/*.class
transformers/se_tpb_speechgenerator/regex/*.class
transformers/se_tpb_speechgenerator/tts/*.class
transformers/se_tpb_speechgenerator/tts/SimpleCommandLineTTS/*.class
transformers/se_tpb_speechgenerator/xslt/*.class
transformers/se_tpb_syncPointNormalizer/*.class
transformers/se_tpb_syncPointNormalizer/type/*.class
transformers/se_tpb_wordml2dtbook/*.class
transformers/se_tpb_wordml2dtbook/custom/*.class
transformers/se_tpb_wordml2dtbook/docs/*.class
transformers/se_tpb_wordml2dtbook/docs/tagset/*.class
transformers/se_tpb_wordml2dtbook/lib/*.class
transformers/se_tpb_wordml2dtbook/modules/*.class
transformers/se_tpb_wordml2dtbook/tagsets/*.class
transformers/se_tpb_wordml2dtbook/templates/*.class
transformers/se_tpb_wordml2dtbook/xslt/*.class
transformers/se_tpb_xmldetection/*.class
transformers/se_tpb_xmldetection/lang/*.class
transformers/se_tpb_xmldetection/type/*.class
transformers/se_tpb_zed2daisy202/*.class
transformers/uk_rnib_dtbook2text/*.class
transformers/uk_rnib_dtbook2xhtml/*.class
transformers/uk_rnib_dtbook2xhtml/old/*.class
transformers/uk_rnib_odf2dtbook/*.class
transformers/us_rfbd_dtbookMigrator/*.class
transformers/us_rfbd_nimasCreator/*.class
transformers/us_rfbd_textOnlyDtbCreator/*.class
