<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.daisy.pipeline.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Jobs Perspective"
            class="org.daisy.pipeline.gui.JobsPerspective"
            id="org.daisy.pipeline.gui.perspectives.jobs">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Jobs"
            class="org.daisy.pipeline.gui.jobs.JobsView"
            id="org.daisy.pipeline.gui.views.jobs">
      </view>
      <view
            class="org.daisy.pipeline.gui.LogView"
            id="org.daisy.pipeline.gui.views.log"
            name="Log"/>
      <view
            class="org.daisy.pipeline.gui.ProgressView"
            id="org.daisy.pipeline.gui.views.progress"
            name="Progress"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.tableEdition"
            label="Table Edition"
            visible="true">
         <action
               allowLabelUpdate="true"
               icon="icons/tango/16x16/actions/go-up.png"
               id="org.daisy.pipeline.gui.action.table.moveUp"
               label="Move Up"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Up Selection"/>
      </actionSet>
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.jobs"
            label="Conversion Jobs"
            visible="true">
         <action
               class="org.daisy.pipeline.gui.jobs.NewJobAction"
               icon="icons/tango/16x16/actions/document-new.png"
               id="org.daisy.pipeline.gui.action.newJob"
               label="Job"
               menubarPath="file/new/new.ext "
               style="push"
               toolbarPath="additions"/>
      </actionSet>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.daisy.pipeline.gui.application"
            name="DAISY Pipeline"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.daisy.pipeline.gui.jobs.wizard.NewJobWizard"
            id="org.daisy.pipeline.gui.wizard.newJob"
            name="New Job Wizard"/>
   </extension>

</plugin>
