<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.daisy.pipeline.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Pipeline Jobs"
            class="org.daisy.pipeline.gui.JobsPerspective"
            id="org.daisy.pipeline.gui.perspectives.jobs">
      </perspective>
      <perspective
            class="org.daisy.pipeline.gui.doc.DocPerspective"
            id="org.daisy.pipeline.gui.perspectives.doc"
            name="Documentation"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.daisy.pipeline.gui.doc.DocView"
            id="org.daisy.pipeline.gui.views.doc"
            name="Documentation"/>  
     <view
            name="Error Log"
            class="org.eclipse.pde.internal.runtime.logview.LogView"
            id="org.eclipse.pde.runtime.LogView">
      </view>    
      <view
            name="Jobs"
            class="org.daisy.pipeline.gui.jobs.JobsView"
            id="org.daisy.pipeline.gui.views.jobs">
      </view>
      <view
            class="org.daisy.pipeline.gui.messages.MessagesView"
            id="org.daisy.pipeline.gui.views.messages"
            name="Messages"/>
      <view
            class="org.daisy.pipeline.gui.parameters.ParametersView"
            id="org.daisy.pipeline.gui.views.parameters"
            name="Job Parameters"/>
      <view
            class="org.daisy.pipeline.gui.jobs.JobDetailsView"
            id="org.daisy.pipeline.gui.views.jobDetails"
            name="Progress"/>
      <view
            class="org.daisy.pipeline.gui.scripts.ScriptsView"
            id="org.daisy.pipeline.gui.views.scripts"
            name="Scripts"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.tableEdition"
            label="Table Edition"
            visible="true">
         <action
               allowLabelUpdate="true"
               icon="icons/tango/16x16/actions/go-bottom.png"
               id="org.daisy.pipeline.gui.action.table.moveToBottom"
               label="Move to Bottom"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Selection to Bottom"/>
         <action
               allowLabelUpdate="true"
               icon="icons/tango/16x16/actions/go-down.png"
               id="org.daisy.pipeline.gui.action.table.moveDown"
               label="Move Down"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Down Selection"/>
         <action
               allowLabelUpdate="true"
               icon="icons/tango/16x16/actions/go-up.png"
               id="org.daisy.pipeline.gui.action.table.moveUp"
               label="Move Up"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Up Selection"/>
         <action
               allowLabelUpdate="true"
               icon="icons/tango/16x16/actions/go-top.png"
               id="org.daisy.pipeline.gui.action.table.moveToTop"
               label="Move to Top"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Selection to Top"/>
      </actionSet>
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.jobs"
            label="Pipeline Jobs"
            visible="true">
         <action
               class="org.daisy.pipeline.gui.jobs.NewJobAction"
               icon="icons/tango/16x16/actions/document-new.png"
               id="org.daisy.pipeline.gui.action.newJob"
               label="Job"
               style="push"
               toolbarPath="additions"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAction"
               icon="icons/tango/16x16/actions/media-playback-start.png"
               id="org.daisy.pipeline.gui.action.run"
               label="Run Job"
               style="push"
               toolbarPath="additions"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAllAction"
               id="org.daisy.pipeline.gui.action.runAll"
               label="Runn All Jobs"
               style="push"
               toolbarPath="additions"/>
      </actionSet>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.daisy.pipeline.gui.application"
            name="DAISY Pipeline"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.daisy.pipeline.gui.jobs.wizard.NewJobWizard"
            id="org.daisy.pipeline.gui.wizard.newJob"
            name="Pipeline Job"/>
   </extension>

</plugin>
