<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.daisy.pipeline.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.daisy.pipeline.gui.application"
            description="%product.description"
            name="DAISY Pipeline">      <property
            name="introTitle"
            value="%intro.title"/>
      <property
            name="introBrandingImage"
            value="product:pipeline.png"/>
      <property
            name="introBrandingImageText"
            value="%intro.brandingImageText"/>
      <property
            name="aboutImage"
            value="branding/about.gif"/>
      <property
            name="aboutText"
            value="%product.about"/>
      <property
            name="windowImages"
            value="branding/pipeline-logo-16x16.gif,branding/pipeline-logo-32x32.gif,branding/pipeline-logo-48x48.gif,branding/pipeline-logo-64x64.gif,branding/pipeline-logo-128x128.gif"/>
      <property
            name="startupForegroundColor"
            value="000000"/>
      <property
            name="startupMessageRect"
            value="320,235,135,20"/>
      <property
            name="startupProgressRect"
            value="0,255,455,20"/>
      <property
            name="appName"
            value="DAISY Pipeline">
      </property>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.daisy.pipeline.gui.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionSet.tableEdition.description"
            id="org.daisy.pipeline.gui.actionSet.tableEdition"
            label="%actionSet.tableEdition"
            visible="true">
         <action
               allowLabelUpdate="true"
               definitionId=" org.daisy.pipeline.gui.command.moveToBottom"
               icon="icons/move-bottom.gif"
               id="org.daisy.pipeline.gui.action.table.moveToBottom"
               label="%action.moveToBottom"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="%action.moveToBottom.tooltip"/>
         <action
               allowLabelUpdate="true"
               definitionId=" org.daisy.pipeline.gui.command.moveDown"
               icon="icons/move-down.gif"
               id="org.daisy.pipeline.gui.action.table.moveDown"
               label="%action.moveDown"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="%action.moveDown.tooltip"/>
         <action
               allowLabelUpdate="true"
               definitionId=" org.daisy.pipeline.gui.command.moveUp"
               icon="icons/move-up.gif"
               id="org.daisy.pipeline.gui.action.table.moveUp"
               label="%action.moveUp"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="%action.moveUp.tooltip"/>
         <action
               allowLabelUpdate="true"
               definitionId=" org.daisy.pipeline.gui.command.moveToTop"
               icon="icons/move-top.gif"
               id="org.daisy.pipeline.gui.action.table.moveToTop"
               label="%action.moveToTop"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="%action.moveToTop.tooltip"/>
      </actionSet>
      <actionSet
            description="%actionSet.jobs.description"
            id="org.daisy.pipeline.gui.actionSet.jobs"
            label="%actionSet.jobs"
            visible="true">
         <menu
               id="org.daisy.pipeline.gui.menu.run"
               label="%menu.run"
               path="additions">
            <groupMarker name="run"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelAllAction"
               definitionId="org.daisy.pipeline.gui.command.cancelAll"
               icon="icons/action-stop-all.gif"
               id="org.daisy.pipeline.gui.action.cancelAll"
               label="%action.cancelAll"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"
               tooltip="%action.cancelAll.tooltip"/>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelAction"
               definitionId="org.daisy.pipeline.gui.command.cancel"
               enablesFor="+"
               icon="icons/action-stop.gif"
               id="org.daisy.pipeline.gui.action.cancel"
               label="%action.cancel"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"
               tooltip="%action.cancel.tooltip">
            <enablement>
               <objectClass name="org.daisy.pipeline.gui.model.JobInfo"/>
            </enablement>
         </action>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAllAction"
               definitionId="org.daisy.pipeline.gui.command.runAll"
               icon="icons/action-run-all.gif"
               id="org.daisy.pipeline.gui.action.runAll"
               label="%action.runAll"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"
               tooltip="%action.runAll.tooltip"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAction"
               definitionId="org.daisy.pipeline.gui.command.run"
               enablesFor="+"
               icon="icons/action-run.gif"
               id="org.daisy.pipeline.gui.action.run"
               label="%action.run"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"
               tooltip="%action.run.tooltip">
            <enablement>
               <objectClass name="org.daisy.pipeline.gui.model.JobInfo"/>
            </enablement>
         </action>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelPullDownAction"
               definitionId="org.daisy.pipeline.gui.command.cancelDropDown"
               enablesFor="+"
               icon="icons/action-stop.gif"
               id="org.daisy.pipeline.gui.action.cancelPullDown"
               label="%action.cancel"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="%action.cancel.tooltip">
            <enablement>
               <objectClass name="org.daisy.pipeline.gui.model.JobInfo"/>
            </enablement>
         </action>
         <action
               class="org.daisy.pipeline.gui.jobs.RunPullDownAction"
               definitionId="org.daisy.pipeline.gui.command.runDropDown"
               enablesFor="+"
               icon="icons/action-run.gif"
               id="org.daisy.pipeline.gui.action.runPullDown"
               label="%action.run"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="%action.run.tooltip">
            <enablement>
               <objectClass name="org.daisy.pipeline.gui.model.JobInfo"/>
            </enablement>
         </action>
         <action
               class="org.daisy.pipeline.gui.jobs.NewJobAction"
               definitionId="org.daisy.pipeline.gui.command.newItem"
               icon="icons/action-new-job.gif"
               id="org.daisy.pipeline.gui.action.newJob"
               label="%action.newJob"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file"
               tooltip="%action.newJob.tooltip"/>
      </actionSet>
      <actionSet
            description="%actionSet.navigation.description"
            id="org.daisy.pipeline.gui.actionSet.navigation"
            label="%actionSet.navigation"
            visible="true">
         <action
               allowLabelUpdate="true"
               definitionId="org.daisy.pipeline.gui.command.toggleBrowser"
               id="org.daisy.pipeline.gui.action.toggleBrowser"
               label="%action.toggleBrowser"
               menubarPath="window/navigation/additions"
               retarget="true"
               style="push"
               tooltip="%action.toggleBrowser.tooltip"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="org.daisy.pipeline.gui.bindings.defaultScheme"
            name="%binding.scheme.default"/>
      <key
            commandId="org.eclipse.ui.file.close"
            sequence="M1+W"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.file.close"
            sequence="M1+F4"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.file.closeAll"
            sequence="M1+M2+W"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.file.closeAll"
            sequence="M1+M2+F4"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+V"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+A"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.undo"
            sequence="M1+Z"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.redo"
            sequence="M1+Y"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+C"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+X"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.edit.delete"
            sequence="DEL"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.newWizard"
            sequence="M1+M2+N"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.showSystemMenu"
            sequence="M3+-"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.showViewMenu"
            sequence="M1+F10"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.maximizePart"
            sequence="M1+M"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.nextView"
            sequence="M1+F7"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.previousView"
            sequence="M1+M2+F7"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.nextPerspective"
            sequence="M1+F8"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.previousPerspective"
            sequence="M1+M2+F8"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme" />
      <key
            commandId="org.eclipse.ui.window.preferences"
            platform="carbon"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+,"/>
      <key
            commandId="org.daisy.pipeline.gui.command.newItem"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+N"/>
      <key
            commandId="org.daisy.pipeline.gui.command.cancel"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+F2"/>
      <key
            commandId="org.daisy.pipeline.gui.command.cancelAll"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+M2+F2"/>
      <key
            commandId="org.daisy.pipeline.gui.command.clearFinished"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M2+DEL"/>
      <key
            commandId="org.daisy.pipeline.gui.command.moveDown"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.daisy.pipeline.gui.command.moveToBottom"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+M2+ARROW_DOWN">
      </key>
      <key
            commandId="org.daisy.pipeline.gui.command.moveToTop"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+M2+ARROW_UP">
      </key>
      <key
            commandId="org.daisy.pipeline.gui.command.moveUp"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.daisy.pipeline.gui.command.run"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+F1"/>
      <key
            commandId="org.daisy.pipeline.gui.command.runAll"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+M2+F1"/>
      <key
            commandId="org.daisy.pipeline.gui.command.toggleBrowser"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="F6"/>
      <key
            commandId="org.eclipse.ui.navigate.back"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+ARROW_LEFT"/>
      <key
            commandId="org.eclipse.ui.navigate.forward"
            schemeId="org.daisy.pipeline.gui.bindings.defaultScheme"
            sequence="M1+ARROW_RIGHT"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%command.category.edit"
            description="%command.category.edit.description"
            id="org.eclipse.ui.category.edit" />
      <category
            name="%command.category.file"
            description="%command.category.file.description"
            id="org.eclipse.ui.category.file" />
      <category
            name="%command.category.help"
            description="%command.category.help.description"
            id="org.eclipse.ui.category.help" />
      <category
            name="%command.category.navigate"
            description="%command.category.navigate.description"
            id="org.eclipse.ui.category.navigate" />
      <category
            description="%command.category.run.description"
            id="org.daisy.pipeline.gui.command.category.run"
            name="%command.category.run"/>
      <category
            name="%command.category.window"
            description="%command.category.window.description"
            id="org.eclipse.ui.category.window" />
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.cancel.description"
            id="org.daisy.pipeline.gui.command.cancel"
            name="%command.cancel"/>
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.cancel.description"
            id="org.daisy.pipeline.gui.command.cancelDropDown"
            name="%command.cancel"/>
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.cancelAll.description"
            id="org.daisy.pipeline.gui.command.cancelAll"
            name="%command.cancelAll"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.moveDown.description"
            id="org.daisy.pipeline.gui.command.moveDown"
            name="%command.moveDown"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.moveToBottom.description"
            id="org.daisy.pipeline.gui.command.moveToBottom"
            name="%command.moveToBottom"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.moveToTop.description"
            id="org.daisy.pipeline.gui.command.moveToTop"
            name="%command.moveToTop"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.moveUp.description"
            id="org.daisy.pipeline.gui.command.moveUp"
            name="%command.moveUp"/>
      <command
            categoryId="org.eclipse.ui.category.file"
            description="%command.newItem.description"
            id="org.daisy.pipeline.gui.command.newItem"
            name="%command.newItem"/>
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.run.description"
            id="org.daisy.pipeline.gui.command.run"
            name="%command.run"/>
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.run.description"
            id="org.daisy.pipeline.gui.command.runDropDown"
            name="%command.run"/>
      <command
            categoryId="org.daisy.pipeline.gui.command.category.run"
            description="%command.runAll.description"
            id="org.daisy.pipeline.gui.command.runAll"
            name="%command.runAll"/>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%command.toggleBrowser.description"
            id="org.daisy.pipeline.gui.command.toggleBrowser"
            name="%command.toggleBrowser"/>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.clearFinished.description"
            id="org.daisy.pipeline.gui.command.clearFinished"
            name="%command.clearFinished"/>
      <command
            categoryId="org.eclipse.ui.category.help"
            defaultHandler="org.daisy.pipeline.gui.update.UpdateHandler"
            description="%command.update.description"
            id="org.daisy.pipeline.gui.command.update"
            name="%command.update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.daisy.pipeline.gui.intro"
            productId="org.daisy.pipeline.gui.product"/>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/welcome.gif"
            id="org.daisy.pipeline.gui.intro"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.daisy.pipeline.gui.intro"
            content="intro/content.xml"
            id="org.daisy.pipeline.gui.intro.config">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
            <implementation kind="swt"/>
            <launchBar
                  computed="false"
                  location="fastview"/>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="org.daisy.pipeline.gui.command.update">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.daisy.pipeline.gui.jobs.wizard.NewJobWizard"
            hasPages="true"
            icon="icons/action-new-job.gif"
            id="org.daisy.pipeline.gui.wizard.newJob"
            name="%wizard.newJob"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.daisy.pipeline.gui.JobsPerspective"
            icon="icons/pers-jobs.gif"
            id="org.daisy.pipeline.gui.perspectives.jobs"
            name="%perspective.jobs">
      </perspective>
      <perspective
            class="org.daisy.pipeline.gui.DocPerspective"
            icon="icons/persp-doc.gif"
            id="org.daisy.pipeline.gui.perspectives.doc"
            name="%perspective.documentation"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:appearancePreferencePage"
            id="org.daisy.pipeline.gui.prefPage.appearance"
            name="%prefPage.appearance"/>
      <page
            class="org.eclipse.ui.ExtensionFactory:newKeysPreferencePage"
            id="org.daisy.pipeline.gui.prefPage.keys"
            name="%prefPage.keys"/>
      <page
            class="org.daisy.pipeline.gui.PathsPrefPage"
            id="org.daisy.pipeline.gui.prefPage.paths"
            name="%prefPage.paths"/>
      <page
            class="org.eclipse.ui.ExtensionFactory:perspectivesPreferencePage"
            id="org.daisy.pipeline.gui.prefPage.perspectives"
            name="%prefPage.perspectives"/>
      <page
            class="org.daisy.pipeline.gui.jobs.runner.RunPrefPage"
            id="org.daisy.pipeline.gui.prefPage.run"
            name="%prefPage.run"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.daisy.pipeline.gui.doc.DocView"
            icon="icons/view-doc.gif"
            id="org.daisy.pipeline.gui.views.doc"
            name="%view.documentation"/>  
     <view
           class="org.eclipse.pde.internal.runtime.logview.LogView"
           icon="icons/view-error-log.gif"
           id="org.eclipse.pde.runtime.LogView"
           name="%view.errorLog">
      </view>    
      <view
            class="org.daisy.pipeline.gui.jobs.JobsView"
            icon="icons/view-jobs.gif"
            id="org.daisy.pipeline.gui.views.jobs"
            name="%view.jobs">
      </view>
      <view
            class="org.daisy.pipeline.gui.messages.MessagesView"
            icon="icons/view-messages.gif"
            id="org.daisy.pipeline.gui.views.messages"
            name="%view.messages"/>
      <view
            class="org.daisy.pipeline.gui.parameters.ParametersView"
            icon="icons/view-parameters.gif"
            id="org.daisy.pipeline.gui.views.parameters"
            name="%view.parameters"/>
      <view
            class="org.daisy.pipeline.gui.progress.JobProgressView"
            icon="icons/view-progress.gif"
            id="org.daisy.pipeline.gui.views.progress"
            name="%view.progress"/>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.daisy.pipeline.gui.HackingPresentationFactory"
            id="org.daisy.pipeline.gui.presentationFactory"
            name="Hacking Factory">
      </factory>
   </extension>

</plugin>
