<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.daisy.pipeline.gui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.daisy.pipeline.gui.JobsPerspective"
            icon="icons/pers-jobs.gif"
            id="org.daisy.pipeline.gui.perspectives.jobs"
            name="Pipeline Jobs">
      </perspective>
      <perspective
            class="org.daisy.pipeline.gui.doc.DocPerspective"
            icon="icons/persp-doc.gif"
            id="org.daisy.pipeline.gui.perspectives.doc"
            name="Documentation"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.daisy.pipeline.gui.doc.DocView"
            icon="icons/view-doc.gif"
            id="org.daisy.pipeline.gui.views.doc"
            name="Documentation"/>  
     <view
           class="org.eclipse.pde.internal.runtime.logview.LogView"
           icon="icons/view-error-log.gif"
           id="org.eclipse.pde.runtime.LogView"
           name="Error Log">
      </view>    
      <view
            class="org.daisy.pipeline.gui.jobs.JobsView"
            icon="icons/view-jobs.gif"
            id="org.daisy.pipeline.gui.views.jobs"
            name="Jobs">
      </view>
      <view
            class="org.daisy.pipeline.gui.messages.MessagesView"
            icon="icons/view-messages.gif"
            id="org.daisy.pipeline.gui.views.messages"
            name="Messages"/>
      <view
            class="org.daisy.pipeline.gui.parameters.ParametersView"
            icon="icons/view-parameters.gif"
            id="org.daisy.pipeline.gui.views.parameters"
            name="Job Parameters (in development)"/>
      <view
            class="org.daisy.pipeline.gui.jobs.JobProgressView"
            icon="icons/view-progress.gif"
            id="org.daisy.pipeline.gui.views.progress"
            name="Progress"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.tableEdition"
            label="Table Edition"
            visible="true">
         <action
               allowLabelUpdate="true"
               icon="icons/move-bottom.gif"
               id="org.daisy.pipeline.gui.action.table.moveToBottom"
               label="Move to Bottom"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Selection to Bottom"/>
         <action
               allowLabelUpdate="true"
               icon="icons/move-down.gif"
               id="org.daisy.pipeline.gui.action.table.moveDown"
               label="Move Down"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Down Selection"/>
         <action
               allowLabelUpdate="true"
               icon="icons/move-up.gif"
               id="org.daisy.pipeline.gui.action.table.moveUp"
               label="Move Up"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Up Selection"/>
         <action
               allowLabelUpdate="true"
               icon="icons/move-top.gif"
               id="org.daisy.pipeline.gui.action.table.moveToTop"
               label="Move to Top"
               menubarPath="edit/additions"
               retarget="true"
               style="push"
               tooltip="Move Selection to Top"/>
      </actionSet>
      <actionSet
            id="org.daisy.pipeline.gui.actionSet.jobs"
            label="Pipeline Jobs"
            visible="true">
         <menu
               id="org.daisy.pipeline.gui.menu.run"
               label="Run"
               path="additions">
            <groupMarker name="run"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelAllAction"
               icon="icons/action-stop-all.gif"
               id="org.daisy.pipeline.gui.action.cancelAll"
               label="Cancel All"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"/>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelAction"
               icon="icons/action-stop.gif"
               id="org.daisy.pipeline.gui.action.cancel"
               label="Cancel"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAllAction"
               icon="icons/action-run-all.gif"
               id="org.daisy.pipeline.gui.action.runAll"
               label="Run All"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunAction"
               icon="icons/action-run.gif"
               id="org.daisy.pipeline.gui.action.run"
               label="Run"
               menubarPath="org.daisy.pipeline.gui.menu.run/run"
               style="push"/>
         <action
               class="org.daisy.pipeline.gui.jobs.CancelPullDownAction"
               icon="icons/action-stop.gif"
               id="org.daisy.pipeline.gui.action.cancelPullDown"
               label="Cancel"
               style="pulldown"
               toolbarPath="additions"/>
         <action
               class="org.daisy.pipeline.gui.jobs.RunPullDownAction"
               icon="icons/action-run.gif"
               id="org.daisy.pipeline.gui.action.runPullDown"
               label="Run"
               style="pulldown"
               toolbarPath="additions"/>
         <action
               class="org.daisy.pipeline.gui.jobs.NewJobAction"
               icon="icons/action-new-job.gif"
               id="org.daisy.pipeline.gui.action.newJob"
               label="New Job"
               style="push"
               toolbarPath="new"
               tooltip="Launch the new job wizard"/>
      </actionSet>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.daisy.pipeline.gui.application"
            name="DAISY Pipeline"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.daisy.pipeline.gui.jobs.wizard.NewJobWizard"
            hasPages="true"
            icon="icons/action-new-job.gif"
            id="org.daisy.pipeline.gui.wizard.newJob"
            name="Pipeline Job"/>
   </extension>

</plugin>
