body {
  background-image:url("images/background.jpg");
	background-repeat : no-repeat;	background-position : bottom right;
	background-attachment : fixed;
	overflow : hidden;
	overflow-clip: rect(0, auto, auto, 0);
	background-color : #5995c9;  margin-left:10%;
  margin-right:30%;
  font-family: arial, verdana, sans-serif;
  }
h1 {
  }  
  
h1.root-title {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  }
  
h1.page-title {
  border-bottom: 1px solid #000088;
  margin-top: 3em;
  }
  
.page-links{
  font-size:x-large;
  font-weight:bold;
  line-height:2;
  text-align:center;
  }
  
.page-links ul{
  list-style-type:none;
  }

.page-links a:link {
  color: #000080
  }
  
#switchToPipeline{
	position: absolute;
	top : 30px;
	right : 30px;
  }
  
#daisyIcon{
	position: absolute;
	bottom : 15px;
	left : 15px;
  }
    
dt {
  font-weight: bold;
  }
  
dt {
  text-decoration: underline;
  margin-top:1em;
  margin-bottom:0.5em;
  }
  
dd {
  margin-bottom: 0.5em;
  }
  
table, td {
  border:1px solid gray;
  }
  
hr {
  width: 9em;
  border:none;
  border-top: 1px dashed #880000;
  margin-top: 1.5em;
  }

*.summary {
  border: 1px solid #aaaaaa;
  padding: 1em 1.5em 1em 1.5em;
  margin-top: 3em;
  background-color: #eeeeee;
  }
 
pre {
  border: 1px solid #aaaaaa;
  padding: 1em 1.5em 1em 1.5em;
  background-color: #eeeeee;
  }

.fixme {
  border-left: 3px solid #ff0000;
  }

.alert {
  border: 1px solid #ff0000;
  padding: 1em;
  }

